.wrapperDest{
	width: 100%;
  height: 100vh;
  background-image: url('../../assets/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	@media (max-width:768px) {
		background-image: url('../../assets/destination/background-destination-tablet.jpg');
	}
	@media (max-width : 524px) {
		background-image: url('../../assets/destination/background-destination-mobile.jpg');
		height: 100%;
	}
}

.contentDest{
	max-width: 1400px;
  margin: 0 auto;
  padding-top: 12%;
	@media (max-width:1440px) {
		max-width: 1100px;
	}
	@media (max-width:1024px) {
		max-width: 800px;
	}
	@media (max-width:768px) {
		max-width: 100%;
	}
	

	.titleRow {
		display: flex;
		align-items: center;
		@media (max-width:1024px) {
			margin-top: 40px;
		}
		@media (max-width:768px) {
			margin-left: 5%;
			margin-top: 50px;
		}
		.num{
			margin-right: 20px;
			font-family: var(--fBarlow);
			color: #fff;
			opacity: 0.25;
			font-size: var(--fzH5);
		}
		.title{
			font-family: var(--fBarlow);
			font-size: var(--fzH5);
			text-transform: uppercase;
			color: #fff;
			letter-spacing: 4.725px;
		}
	}

	.bodyWrapper{
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:768px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media (max-width:768px) {
			margin-top: 20px;
		}

		.bodyLink{
			display: flex;
			margin-bottom: 40px;
			@media (max-width:768px) {
				justify-content: center;
			}
			.link{
				margin-right: 20px;
				text-transform: uppercase;
				color: #fff;
				letter-spacing: 2.7px;
				font-family: var(--fBarlow);
				font-size: var(--fztext);
        position: relative;
				@media (max-width:768px) {
					font-size: 16px;
				}
        cursor: pointer;
        &::after {
          display: block;
          content: '';
          width: 100%;
          height: 3px;
          background-color: transparent;
          position: absolute;
          top: 40px;
          transition: all 200ms linear;
        }
        &:hover{
          &::after{
            background-color: #fff;
            opacity: 0.5;
          }
        }
        
        
			}
		}

		.name{
			color: #fff;
			font-family: var(--fBellefair);
			font-size: var(--fzH2);
			margin-bottom: 30px;
			text-transform: uppercase;
			@media (max-width:768px) {
				font-size: 50px;
			}
		}
		.text{
			color: var(--colorSer);
			font-family: var(--fBarlow);
			font-size: 18px;
			line-height: 32px;
      width: 444px;
      height: 169px;
			@media (max-width : 524px) {
				width: 300px;
			}
			&::after {
				display: block;
				content: '';
				width: 444px;
				height: 1px;
				background: #383B4B;
				margin: 40px 0 20px 0;
				@media (max-width : 524px) {
					width: 300px;
				}
			}
		}

		.info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.colum{
				.distance{
					font-family: var(--fBarlow);
					line-height: 17px;
					letter-spacing: 2.3625px;
					text-transform: uppercase;
					color: var(--colorSer);
					margin-bottom: 15px;
				}
				.km{
					text-transform: uppercase;
					color: #fff;
					font-family: var(--fBellefair);
					font-size: var(--fzH5);
					line-height: 32px;
				}
				.time{
					font-family: var(--fBarlow);
					line-height: 17px;
					letter-spacing: 2.3625px;
					text-transform: uppercase;
					color: var(--colorSer);
					margin-bottom: 15px;
				}
				.days{
					text-transform: uppercase;
					color: #fff;
					font-family: var(--fBellefair);
					font-size: var(--fzH5);
					line-height: 32px;
				}
			}
		}
	}

}

.body{
	max-width: 444px;
	@media (max-width:768px) {
		text-align: center;
	}
}

.image{
	img{
		@media (max-width:1024px) {
			width: 300px;
		}
		@media (max-width : 524px) {
			width: 200px;
		}
	}
}